<div class="mt-30">
  <div class="row mb-20">
    <h2 class="documentation-section__title">Navigace</h2>

    <div class="documentation-section-modifiers__wrapper">
      <ul class="documentation-section-modifiers__list">
        <li class="documentation-section-modifiers__item">
          <p>
            <span class="documentation-section-modifiers__modifier">
              .navigation-main--primary
            </span>
            Primární pozadí navigace
          </p>
        </li>
        <li class="documentation-section-modifiers__item">
          <p>
            <span class="documentation-section-modifiers__modifier">
              .navigation-main--shadow
            </span>
            Zapne stín navigace
          </p>
        </li>
        <li class="documentation-section-modifiers__item">
          <p>
            <span class="documentation-section-modifiers__modifier">
              .navigation-main--border
            </span>
            Zapne ohraničení okolo položek
          </p>
        </li>
        <li class="documentation-section-modifiers__item">
          <p>
            <span class="documentation-section-modifiers__modifier">
              .navigation-main--border-items
            </span>
            Zapne border mezi položkama
          </p>
        </li>
      </ul>
    </div>

  </div>
  <nav class="navigation-main" aria-label="Hlavní Navigace" role="navigation">
    <div class="row">
      <div class="navigation-main__wrapper">
        <a class="navigation-main__toggle js-main-navigation-toggle" href="#">
          <span
            class="icon navigation-main__toggle-icon navigation-main__toggle-icon--open"
          >
            <svg
              class="icon__svg"
              id="icon-bars"
              viewBox="0 0 28 32"
              width="100%"
              height="100%"
            >
              <title>bars</title>
              <path
                d="M27.625 7.125h-27.25c-0.207 0-0.375-0.168-0.375-0.375v0-1.5c0-0.207 0.168-0.375 0.375-0.375v0h27.25c0.207 0 0.375 0.168 0.375 0.375v0 1.5c0 0.207-0.168 0.375-0.375 0.375v0zM27.625 17.125h-27.25c-0.207 0-0.375-0.168-0.375-0.375v0-1.5c0-0.207 0.168-0.375 0.375-0.375v0h27.25c0.207 0 0.375 0.168 0.375 0.375v0 1.5c0 0.207-0.168 0.375-0.375 0.375v0zM27.625 27.125h-27.25c-0.207 0-0.375-0.168-0.375-0.375v0-1.5c0-0.207 0.168-0.375 0.375-0.375v0h27.25c0.207 0 0.375 0.168 0.375 0.375v0 1.5c0 0.207-0.168 0.375-0.375 0.375v0z"
              ></path>
            </svg>
          </span>
          <span
            class="icon navigation-main__toggle-icon navigation-main__toggle-icon--close"
          >
            <svg class="icon__svg" id="icon-times" viewBox="0 0 20 32" width="100%" height="100%">
              <title>times</title>
              <path d="M12.121 16l7.732-7.732c0.195-0.195 0.195-0.512 0-0.707l-1.414-1.414c-0.195-0.195-0.512-0.195-0.707 0l-7.732 7.732-7.732-7.732c-0.195-0.195-0.512-0.195-0.707 0l-1.415 1.414c-0.195 0.195-0.195 0.512 0 0.707l7.732 7.732-7.732 7.732c-0.195 0.195-0.195 0.512 0 0.707l1.414 1.414c0.195 0.195 0.512 0.195 0.707 0l7.732-7.732 7.732 7.732c0.195 0.195 0.512 0.195 0.707 0l1.414-1.414c0.195-0.195 0.195-0.512 0-0.707l-7.732-7.732z"></path>
            </svg>
          </span>
          <span class="navigation-main__toggle-text">Menu</span>
        </a>
        <ul class="navigation-main__list">
          <li class="navigation-main__item">
            <a href="#" class="navigation-main__link is-active">
              Domů
            </a>
          </li>
          <li class="navigation-main__item">
            <a href="#" class="navigation-main__link">
              Domů
            </a>
          </li>
          <li class="navigation-main__item">
            <a href="#" class="navigation-main__link">
              Domů
            </a>
          </li>
          <li class="navigation-main__item">
            <a href="#" class="navigation-main__link">
              Domů
            </a>
          </li>
          <li class="navigation-main__item">
            <a href="#" class="navigation-main__link">
              Domů
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>

<div class="mt-30">
  <nav
    class="navigation-main navigation-main--primary"
    aria-label="Hlavní Navigace"
    role="navigation"
  >
    <div class="row">
      <div class="navigation-main__wrapper">
        <a class="navigation-main__toggle js-main-navigation-toggle" href="#">
            <span
            class="icon navigation-main__toggle-icon navigation-main__toggle-icon--open"
          >
            <svg
              class="icon__svg"
              id="icon-bars"
              viewBox="0 0 28 32"
              width="100%"
              height="100%"
            >
              <title>bars</title>
              <path
                d="M27.625 7.125h-27.25c-0.207 0-0.375-0.168-0.375-0.375v0-1.5c0-0.207 0.168-0.375 0.375-0.375v0h27.25c0.207 0 0.375 0.168 0.375 0.375v0 1.5c0 0.207-0.168 0.375-0.375 0.375v0zM27.625 17.125h-27.25c-0.207 0-0.375-0.168-0.375-0.375v0-1.5c0-0.207 0.168-0.375 0.375-0.375v0h27.25c0.207 0 0.375 0.168 0.375 0.375v0 1.5c0 0.207-0.168 0.375-0.375 0.375v0zM27.625 27.125h-27.25c-0.207 0-0.375-0.168-0.375-0.375v0-1.5c0-0.207 0.168-0.375 0.375-0.375v0h27.25c0.207 0 0.375 0.168 0.375 0.375v0 1.5c0 0.207-0.168 0.375-0.375 0.375v0z"
              ></path>
            </svg>
          </span>
          <span
            class="icon navigation-main__toggle-icon navigation-main__toggle-icon--close"
          >
            <svg class="icon__svg" id="icon-times" viewBox="0 0 20 32" width="100%" height="100%">
              <title>times</title>
              <path d="M12.121 16l7.732-7.732c0.195-0.195 0.195-0.512 0-0.707l-1.414-1.414c-0.195-0.195-0.512-0.195-0.707 0l-7.732 7.732-7.732-7.732c-0.195-0.195-0.512-0.195-0.707 0l-1.415 1.414c-0.195 0.195-0.195 0.512 0 0.707l7.732 7.732-7.732 7.732c-0.195 0.195-0.195 0.512 0 0.707l1.414 1.414c0.195 0.195 0.512 0.195 0.707 0l7.732-7.732 7.732 7.732c0.195 0.195 0.512 0.195 0.707 0l1.414-1.414c0.195-0.195 0.195-0.512 0-0.707l-7.732-7.732z"></path>
            </svg>
          </span>
          <span class="navigation-main__toggle-text">Menu</span>
        </a>
        <ul class="navigation-main__list">
          <li class="navigation-main__item">
            <a href="#" class="navigation-main__link is-active">
              Domů
            </a>
          </li>
          <li class="navigation-main__item">
            <a href="#" class="navigation-main__link">
              Domů
            </a>
          </li>
          <li class="navigation-main__item">
            <a href="#" class="navigation-main__link">
              Domů
            </a>
          </li>
          <li class="navigation-main__item">
            <a href="#" class="navigation-main__link">
              Domů
            </a>
          </li>
          <li class="navigation-main__item">
            <a href="#" class="navigation-main__link">
              Domů
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>

<div class="mt-30">
  <nav
    class="navigation-main navigation-main--white navigation-main--shadow"
    aria-label="Hlavní Navigace"
    role="navigation"
  >
    <div class="row">
      <div class="navigation-main__wrapper">
        <a class="navigation-main__toggle js-main-navigation-toggle" href="#">
            <span
            class="icon navigation-main__toggle-icon navigation-main__toggle-icon--open"
          >
            <svg
              class="icon__svg"
              id="icon-bars"
              viewBox="0 0 28 32"
              width="100%"
              height="100%"
            >
              <title>bars</title>
              <path
                d="M27.625 7.125h-27.25c-0.207 0-0.375-0.168-0.375-0.375v0-1.5c0-0.207 0.168-0.375 0.375-0.375v0h27.25c0.207 0 0.375 0.168 0.375 0.375v0 1.5c0 0.207-0.168 0.375-0.375 0.375v0zM27.625 17.125h-27.25c-0.207 0-0.375-0.168-0.375-0.375v0-1.5c0-0.207 0.168-0.375 0.375-0.375v0h27.25c0.207 0 0.375 0.168 0.375 0.375v0 1.5c0 0.207-0.168 0.375-0.375 0.375v0zM27.625 27.125h-27.25c-0.207 0-0.375-0.168-0.375-0.375v0-1.5c0-0.207 0.168-0.375 0.375-0.375v0h27.25c0.207 0 0.375 0.168 0.375 0.375v0 1.5c0 0.207-0.168 0.375-0.375 0.375v0z"
              ></path>
            </svg>
          </span>
          <span
            class="icon navigation-main__toggle-icon navigation-main__toggle-icon--close"
          >
            <svg class="icon__svg" id="icon-times" viewBox="0 0 20 32" width="100%" height="100%">
              <title>times</title>
              <path d="M12.121 16l7.732-7.732c0.195-0.195 0.195-0.512 0-0.707l-1.414-1.414c-0.195-0.195-0.512-0.195-0.707 0l-7.732 7.732-7.732-7.732c-0.195-0.195-0.512-0.195-0.707 0l-1.415 1.414c-0.195 0.195-0.195 0.512 0 0.707l7.732 7.732-7.732 7.732c-0.195 0.195-0.195 0.512 0 0.707l1.414 1.414c0.195 0.195 0.512 0.195 0.707 0l7.732-7.732 7.732 7.732c0.195 0.195 0.512 0.195 0.707 0l1.414-1.414c0.195-0.195 0.195-0.512 0-0.707l-7.732-7.732z"></path>
            </svg>
          </span>
          <span class="navigation-main__toggle-text">Menu</span>
        </a>
        <ul class="navigation-main__list">
          <li class="navigation-main__item">
            <a href="#" class="navigation-main__link is-active">
              Domů
            </a>
          </li>
          <li class="navigation-main__item">
            <a href="#" class="navigation-main__link">
              Domů
            </a>
          </li>
          <li class="navigation-main__item">
            <a href="#" class="navigation-main__link">
              Domů
            </a>
          </li>
          <li class="navigation-main__item">
            <a href="#" class="navigation-main__link">
              Domů
            </a>
          </li>
          <li class="navigation-main__item">
            <a href="#" class="navigation-main__link">
              Domů
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>

  <div class="mt-30 row">
    <div class="">
      <nav
        class="navigation-main navigation-main--border-items navigation-main--no-border navigation-main--border"
        aria-label="Hlavní Navigace"
        role="navigation"
      >
        <div class="row">
          <div class="navigation-main__wrapper">
            <a class="navigation-main__toggle js-main-navigation-toggle" href="#">
                <span
                class="icon navigation-main__toggle-icon navigation-main__toggle-icon--open"
              >
                <svg
                  class="icon__svg"
                  id="icon-bars"
                  viewBox="0 0 28 32"
                  width="100%"
                  height="100%"
                >
                  <title>bars</title>
                  <path
                    d="M27.625 7.125h-27.25c-0.207 0-0.375-0.168-0.375-0.375v0-1.5c0-0.207 0.168-0.375 0.375-0.375v0h27.25c0.207 0 0.375 0.168 0.375 0.375v0 1.5c0 0.207-0.168 0.375-0.375 0.375v0zM27.625 17.125h-27.25c-0.207 0-0.375-0.168-0.375-0.375v0-1.5c0-0.207 0.168-0.375 0.375-0.375v0h27.25c0.207 0 0.375 0.168 0.375 0.375v0 1.5c0 0.207-0.168 0.375-0.375 0.375v0zM27.625 27.125h-27.25c-0.207 0-0.375-0.168-0.375-0.375v0-1.5c0-0.207 0.168-0.375 0.375-0.375v0h27.25c0.207 0 0.375 0.168 0.375 0.375v0 1.5c0 0.207-0.168 0.375-0.375 0.375v0z"
                  ></path>
                </svg>
              </span>
              <span
                class="icon navigation-main__toggle-icon navigation-main__toggle-icon--close"
              >
                <svg class="icon__svg" id="icon-times" viewBox="0 0 20 32" width="100%" height="100%">
                  <title>times</title>
                  <path d="M12.121 16l7.732-7.732c0.195-0.195 0.195-0.512 0-0.707l-1.414-1.414c-0.195-0.195-0.512-0.195-0.707 0l-7.732 7.732-7.732-7.732c-0.195-0.195-0.512-0.195-0.707 0l-1.415 1.414c-0.195 0.195-0.195 0.512 0 0.707l7.732 7.732-7.732 7.732c-0.195 0.195-0.195 0.512 0 0.707l1.414 1.414c0.195 0.195 0.512 0.195 0.707 0l7.732-7.732 7.732 7.732c0.195 0.195 0.512 0.195 0.707 0l1.414-1.414c0.195-0.195 0.195-0.512 0-0.707l-7.732-7.732z"></path>
                </svg>
              </span>
              <span class="navigation-main__toggle-text">Menu</span>
            </a>
            <ul class="navigation-main__list">
              <li class="navigation-main__item">
                <a href="#" class="navigation-main__link is-active">
                  Domů
                </a>
              </li>
              <li class="navigation-main__item">
                <a href="#" class="navigation-main__link">
                  Domů
                </a>
              </li>
              <li class="navigation-main__item">
                <a href="#" class="navigation-main__link">
                  Domů
                </a>
              </li>
              <li class="navigation-main__item">
                <a href="#" class="navigation-main__link">
                  Domů
                </a>
              </li>
              <li class="navigation-main__item">
                <a href="#" class="navigation-main__link">
                  Domů
                </a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </div>
  </div>
