<div class="mb-30">
  <div class="row documentation-section">
    <h2 class="documentation-section__title">Tab-list</h2>
    <ul class="tab-list">
      <li class="tab-list__item is-active">
        <a class="tab-list__link" href="#">Položka 1</a>
      </li>
      <li class="tab-list__item">
        <a class="tab-list__link" href="#">Položka 2</a>
      </li>
      <li class="tab-list__item">
        <a class="tab-list__link" href="#">Položka 3</a>
      </li>
    </ul>
  </div>
</div>
