.action-group {
  &__list {
    display: inline-flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
    background: #fff;
    border: 1px solid $colorGray;
    border-radius: $borderRadius;
    @include media-breakpoint-down(md) {
      flex-wrap: wrap;
    }
  }
  &__item {
    //flex-grow: 1;
    display: inline-flex;
    @include media-breakpoint-down(md) {
      width: 100%;
      flex-grow: 0;
    }
    &:first-child {
      .action-group {
        &__link,
        &__button {
          border-top-left-radius: $borderRadius;
          border-bottom-left-radius: $borderRadius;
          @include media-breakpoint-down(md) {
            border-top-right-radius: $borderRadius;
            border-bottom-left-radius: 0;
          }
        }
      }
    }
    &:last-child {
      .action-group {
        &__link,
        &__button {
          border-right: 1px solid transparent;
          border-top-right-radius: $borderRadius;
          border-bottom-right-radius: $borderRadius;
          &:hover,
          &:focus {
            border-right: 1px solid $colorPrimary;
          }
          @include media-breakpoint-down(md) {
            border-bottom: 0;
            border-top-right-radius: 0;
            border-bottom-left-radius: $borderRadius;
          }
        }
      }
    }
    &.is-disabled {
      .action-group {
        &__link,
        &__button {
          background: $colorLightGray;
          pointer-events: none;
        }
        &__icon,
        &__title {
          opacity: 0.4;
          user-select: none;
        }
      }
    }
    &.is-active {
      .action-group {
        &__link,
        &__button {
          background: $colorPrimary;
        }
        &__icon,
        &__title {
          color: #fff;
        }
      }
    }
  }
  &__link,
  &__button {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    text-align: center;
    text-decoration: none;
    border-right: 1px solid $colorGray;
    padding: 15px 20px;
    transition: 0.2s background, 0.2s color, 0.2s border;
    line-height: 1;
    @include media-breakpoint-down(md) {
      border-right: 0;
      border-bottom: 1px solid $colorGray;
    }
    &:hover,
    &:focus {
      background: $colorPrimary;
      cursor: pointer;
      .action-group {
        &__title,
        &__icon {
          color: #fff;
        }
      }
    }
  }
  &__icon {
    font-size: 20px;
    color: $colorBodyText;
    transition: 0.2s color;
    & + .action-group__title {
      margin: 5px 0 0 0;
    }
  }
  &__title {
    font-size: 16px;
    font-weight: 400;
    transition: 0.2s color;
  }

  &--filled {
    .action-group {
      &__list {
        display: flex;
        width: 100%;
      }
      &__item {
        flex-grow: 1;
      }
    }
  }
  &--same {
    .action-group {
      &__item {
        flex-grow: 1;
        flex-basis: 0;
        @include media-breakpoint-down(md) {
          flex-basis: inherit;
        }
      }
    }
  }
}