<div class="row mt-20 documentation-section">
  <h2 class="documentation-section__title">Accordion</h2>

  <div class="documentation-section-modifiers__wrapper">
    <ul class="documentation-section-modifiers__list">
      <li class="documentation-section-modifiers__item">
        <p>
          <span class="documentation-section-modifiers__modifier">
            .accordion--light-gray-borders
          </span>
          Nastaví barvu borderů na světle šedou
        </p>
      </li>
      <li class="documentation-section-modifiers__item">
        <p>
          <span class="documentation-section-modifiers__modifier">
            .accordion--no-opened-margin
          </span>
          Zruší po otevření accordionu margin
        </p>
      </li>
      <li class="documentation-section-modifiers__item">
        <p>
          <span class="documentation-section-modifiers__modifier">
            .accordion--block
          </span>
          Vyplnění celé šířky
        </p>
      </li>
    </ul>
  </div>

  <div>
    <div class="accordion accordion--block">
      <div class="accordion__list">
        <div class="accordion__item">
          <div class="accordion__header">
            <div class="accordion__header-content">
              <h3 class="accordion__header-title">
                Test
              </h3>
            </div>
            <div class="accordion__header-icon">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                <path
                  d="M443.5 162.6l-7.1-7.1c-4.7-4.7-12.3-4.7-17 0L224 351 28.5 155.5c-4.7-4.7-12.3-4.7-17 0l-7.1 7.1c-4.7 4.7-4.7 12.3 0 17l211 211.1c4.7 4.7 12.3 4.7 17 0l211-211.1c4.8-4.7 4.8-12.3.1-17z"
                />
              </svg>
            </div>
          </div>
          <div class="accordion__body">
            <div class="accordion__body-content">
              <p>Lorem ipsum dolor sit amet consectetur</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <h3>V boxu</h3>
  <div class="mt-20">
    <div
      style="width: 300px; background: #fff; height: 350px; overflow: auto; "
    >
      <div class="accordion">
        <div class="accordion__list">
          <div class="accordion__item">
            <div class="accordion__header">
              <div class="accordion__header-content">
                <h3 class="accordion__header-title">
                  Položka 1
                </h3>
              </div>
              <div class="accordion__header-icon">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                  <path
                    d="M443.5 162.6l-7.1-7.1c-4.7-4.7-12.3-4.7-17 0L224 351 28.5 155.5c-4.7-4.7-12.3-4.7-17 0l-7.1 7.1c-4.7 4.7-4.7 12.3 0 17l211 211.1c4.7 4.7 12.3 4.7 17 0l211-211.1c4.8-4.7 4.8-12.3.1-17z"
                  />
                </svg>
              </div>
            </div>
            <div class="accordion__body">
              <div class="accordion__body-content">
                <p>Lorem ipsum dolor sit amet consectetur</p>
              </div>
            </div>
          </div>
          <div class="accordion__item">
            <div class="accordion__header">
              <div class="accordion__header-content">
                <h3 class="accordion__header-title">
                  Položka 1
                </h3>
              </div>
              <div class="accordion__header-icon">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                  <path
                    d="M443.5 162.6l-7.1-7.1c-4.7-4.7-12.3-4.7-17 0L224 351 28.5 155.5c-4.7-4.7-12.3-4.7-17 0l-7.1 7.1c-4.7 4.7-4.7 12.3 0 17l211 211.1c4.7 4.7 12.3 4.7 17 0l211-211.1c4.8-4.7 4.8-12.3.1-17z"
                  />
                </svg>
              </div>
            </div>
            <div class="accordion__body">
              <div class="accordion__body-content">
                <p>Lorem ipsum dolor sit amet consectetur</p>
              </div>
            </div>
          </div>
          <div class="accordion__item">
            <div class="accordion__header">
              <div class="accordion__header-content">
                <h3 class="accordion__header-title">
                  Položka 1
                </h3>
              </div>
              <div class="accordion__header-icon">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                  <path
                    d="M443.5 162.6l-7.1-7.1c-4.7-4.7-12.3-4.7-17 0L224 351 28.5 155.5c-4.7-4.7-12.3-4.7-17 0l-7.1 7.1c-4.7 4.7-4.7 12.3 0 17l211 211.1c4.7 4.7 12.3 4.7 17 0l211-211.1c4.8-4.7 4.8-12.3.1-17z"
                  />
                </svg>
              </div>
            </div>
            <div class="accordion__body">
              <div class="accordion__body-content">
                <p>Lorem ipsum dolor sit amet consectetur</p>
              </div>
            </div>
          </div>
          <div class="accordion__item">
            <div class="accordion__header">
              <div class="accordion__header-content">
                <h3 class="accordion__header-title">
                  Položka 1
                </h3>
              </div>
              <div class="accordion__header-icon">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                  <path
                    d="M443.5 162.6l-7.1-7.1c-4.7-4.7-12.3-4.7-17 0L224 351 28.5 155.5c-4.7-4.7-12.3-4.7-17 0l-7.1 7.1c-4.7 4.7-4.7 12.3 0 17l211 211.1c4.7 4.7 12.3 4.7 17 0l211-211.1c4.8-4.7 4.8-12.3.1-17z"
                  />
                </svg>
              </div>
            </div>
            <div class="accordion__body">
              <div class="accordion__body-content">
                <p>Lorem ipsum dolor sit amet consectetur</p>
              </div>
            </div>
          </div>
          <div class="accordion__item">
            <div class="accordion__header">
              <div class="accordion__header-content">
                <h3 class="accordion__header-title">
                  Položka 1
                </h3>
              </div>
              <div class="accordion__header-icon">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                  <path
                    d="M443.5 162.6l-7.1-7.1c-4.7-4.7-12.3-4.7-17 0L224 351 28.5 155.5c-4.7-4.7-12.3-4.7-17 0l-7.1 7.1c-4.7 4.7-4.7 12.3 0 17l211 211.1c4.7 4.7 12.3 4.7 17 0l211-211.1c4.8-4.7 4.8-12.3.1-17z"
                  />
                </svg>
              </div>
            </div>
            <div class="accordion__body">
              <div class="accordion__body-content">
                <p>Lorem ipsum dolor sit amet consectetur</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <h3>Bez mezer pri otevření</h3>
  <div class="mt-20">
    <div class="accordion accordion--no-opened-margin">
      <div class="accordion__list">
        <div class="accordion__item">
          <div class="accordion__header">
            <div class="accordion__header-content">
              <h3 class="accordion__header-title">
                Položka 1
              </h3>
            </div>
            <div class="accordion__header-icon">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                <path
                  d="M443.5 162.6l-7.1-7.1c-4.7-4.7-12.3-4.7-17 0L224 351 28.5 155.5c-4.7-4.7-12.3-4.7-17 0l-7.1 7.1c-4.7 4.7-4.7 12.3 0 17l211 211.1c4.7 4.7 12.3 4.7 17 0l211-211.1c4.8-4.7 4.8-12.3.1-17z"
                />
              </svg>
            </div>
          </div>
          <div class="accordion__body">
            <div class="accordion__body-content">
              <p>Lorem ipsum dolor sit amet consectetur</p>
            </div>
          </div>
        </div>
        <div class="accordion__item is-disabled">
          <div class="accordion__header">
            <div class="accordion__header-content">
              <h3 class="accordion__header-title">
                Položka 1
              </h3>
            </div>
            <div class="accordion__header-icon">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                <path
                  d="M443.5 162.6l-7.1-7.1c-4.7-4.7-12.3-4.7-17 0L224 351 28.5 155.5c-4.7-4.7-12.3-4.7-17 0l-7.1 7.1c-4.7 4.7-4.7 12.3 0 17l211 211.1c4.7 4.7 12.3 4.7 17 0l211-211.1c4.8-4.7 4.8-12.3.1-17z"
                />
              </svg>
            </div>
          </div>
          <div class="accordion__body">
            <div class="accordion__body-content">
              <p>Lorem ipsum dolor sit amet consectetur</p>
            </div>
          </div>
        </div>
        <div class="accordion__item">
          <div class="accordion__header">
            <div class="accordion__header-content">
              <h3 class="accordion__header-title">
                Položka 1
              </h3>
            </div>
            <div class="accordion__header-icon">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                <path
                  d="M443.5 162.6l-7.1-7.1c-4.7-4.7-12.3-4.7-17 0L224 351 28.5 155.5c-4.7-4.7-12.3-4.7-17 0l-7.1 7.1c-4.7 4.7-4.7 12.3 0 17l211 211.1c4.7 4.7 12.3 4.7 17 0l211-211.1c4.8-4.7 4.8-12.3.1-17z"
                />
              </svg>
            </div>
          </div>
          <div class="accordion__body">
            <div class="accordion__body-content">
              <p>Lorem ipsum dolor sit amet consectetur</p>
            </div>
          </div>
        </div>
        <div class="accordion__item">
          <div class="accordion__header">
            <div class="accordion__header-content">
              <h3 class="accordion__header-title">
                Položka 1
              </h3>
            </div>
            <div class="accordion__header-icon">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                <path
                  d="M443.5 162.6l-7.1-7.1c-4.7-4.7-12.3-4.7-17 0L224 351 28.5 155.5c-4.7-4.7-12.3-4.7-17 0l-7.1 7.1c-4.7 4.7-4.7 12.3 0 17l211 211.1c4.7 4.7 12.3 4.7 17 0l211-211.1c4.8-4.7 4.8-12.3.1-17z"
                />
              </svg>
            </div>
          </div>
          <div class="accordion__body">
            <div class="accordion__body-content">
              <p>Lorem ipsum dolor sit amet consectetur</p>
            </div>
          </div>
        </div>
        <div class="accordion__item">
          <div class="accordion__header">
            <div class="accordion__header-content">
              <h3 class="accordion__header-title">
                Položka 1
              </h3>
            </div>
            <div class="accordion__header-icon">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                <path
                  d="M443.5 162.6l-7.1-7.1c-4.7-4.7-12.3-4.7-17 0L224 351 28.5 155.5c-4.7-4.7-12.3-4.7-17 0l-7.1 7.1c-4.7 4.7-4.7 12.3 0 17l211 211.1c4.7 4.7 12.3 4.7 17 0l211-211.1c4.8-4.7 4.8-12.3.1-17z"
                />
              </svg>
            </div>
          </div>
          <div class="accordion__body">
            <div class="accordion__body-content">
              <p>Lorem ipsum dolor sit amet consectetur</p>
            </div>
          </div>
        </div>
        <div class="accordion__item">
          <div class="accordion__header">
            <div class="accordion__header-content">
              <h3 class="accordion__header-title">
                Položka 1
              </h3>
            </div>
            <div class="accordion__header-icon">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                <path
                  d="M443.5 162.6l-7.1-7.1c-4.7-4.7-12.3-4.7-17 0L224 351 28.5 155.5c-4.7-4.7-12.3-4.7-17 0l-7.1 7.1c-4.7 4.7-4.7 12.3 0 17l211 211.1c4.7 4.7 12.3 4.7 17 0l211-211.1c4.8-4.7 4.8-12.3.1-17z"
                />
              </svg>
            </div>
          </div>
          <div class="accordion__body">
            <div class="accordion__body-content">
              <p>Lorem ipsum dolor sit amet consectetur</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <h3>Světlé rohy</h3>
  <div class="mt-20">
    <div>
      <div class="accordion accordion--light-gray-borders">
        <div class="accordion__list">
          <div class="accordion__item">
            <div class="accordion__header">
              <div class="accordion__header-content">
                <h3 class="accordion__header-title">
                  Položka 1
                </h3>
              </div>
              <div class="accordion__header-icon">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                  <path
                    d="M443.5 162.6l-7.1-7.1c-4.7-4.7-12.3-4.7-17 0L224 351 28.5 155.5c-4.7-4.7-12.3-4.7-17 0l-7.1 7.1c-4.7 4.7-4.7 12.3 0 17l211 211.1c4.7 4.7 12.3 4.7 17 0l211-211.1c4.8-4.7 4.8-12.3.1-17z"
                  />
                </svg>
              </div>
            </div>
            <div class="accordion__body">
              <div class="accordion__body-content">
                <p>Lorem ipsum dolor sit amet consectetur</p>
              </div>
            </div>
          </div>
          <div class="accordion__item">
            <div class="accordion__header">
              <div class="accordion__header-content">
                <h3 class="accordion__header-title">
                  Položka 1
                </h3>
              </div>
              <div class="accordion__header-icon">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                  <path
                    d="M443.5 162.6l-7.1-7.1c-4.7-4.7-12.3-4.7-17 0L224 351 28.5 155.5c-4.7-4.7-12.3-4.7-17 0l-7.1 7.1c-4.7 4.7-4.7 12.3 0 17l211 211.1c4.7 4.7 12.3 4.7 17 0l211-211.1c4.8-4.7 4.8-12.3.1-17z"
                  />
                </svg>
              </div>
            </div>
            <div class="accordion__body">
              <div class="accordion__body-content">
                <p>Lorem ipsum dolor sit amet consectetur</p>
              </div>
            </div>
          </div>
          <div class="accordion__item">
            <div class="accordion__header">
              <div class="accordion__header-content">
                <h3 class="accordion__header-title">
                  Položka 1
                </h3>
              </div>
              <div class="accordion__header-icon">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                  <path
                    d="M443.5 162.6l-7.1-7.1c-4.7-4.7-12.3-4.7-17 0L224 351 28.5 155.5c-4.7-4.7-12.3-4.7-17 0l-7.1 7.1c-4.7 4.7-4.7 12.3 0 17l211 211.1c4.7 4.7 12.3 4.7 17 0l211-211.1c4.8-4.7 4.8-12.3.1-17z"
                  />
                </svg>
              </div>
            </div>
            <div class="accordion__body">
              <div class="accordion__body-content">
                <p>Lorem ipsum dolor sit amet consectetur</p>
              </div>
            </div>
          </div>
          <div class="accordion__item">
            <div class="accordion__header">
              <div class="accordion__header-content">
                <h3 class="accordion__header-title">
                  Položka 1
                </h3>
              </div>
              <div class="accordion__header-icon">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                  <path
                    d="M443.5 162.6l-7.1-7.1c-4.7-4.7-12.3-4.7-17 0L224 351 28.5 155.5c-4.7-4.7-12.3-4.7-17 0l-7.1 7.1c-4.7 4.7-4.7 12.3 0 17l211 211.1c4.7 4.7 12.3 4.7 17 0l211-211.1c4.8-4.7 4.8-12.3.1-17z"
                  />
                </svg>
              </div>
            </div>
            <div class="accordion__body">
              <div class="accordion__body-content">
                <p>Lorem ipsum dolor sit amet consectetur</p>
              </div>
            </div>
          </div>
          <div class="accordion__item">
            <div class="accordion__header">
              <div class="accordion__header-content">
                <h3 class="accordion__header-title">
                  Položka 1
                </h3>
              </div>
              <div class="accordion__header-icon">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                  <path
                    d="M443.5 162.6l-7.1-7.1c-4.7-4.7-12.3-4.7-17 0L224 351 28.5 155.5c-4.7-4.7-12.3-4.7-17 0l-7.1 7.1c-4.7 4.7-4.7 12.3 0 17l211 211.1c4.7 4.7 12.3 4.7 17 0l211-211.1c4.8-4.7 4.8-12.3.1-17z"
                  />
                </svg>
              </div>
            </div>
            <div class="accordion__body">
              <div class="accordion__body-content">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur non velit dolorum sequi, repellendus ex voluptas eius harum quasi pariatur corrupti sint officiis doloribus eum! Laboriosam, perferendis maxime. Explicabo, et!</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur non velit dolorum sequi, repellendus ex voluptas eius harum quasi pariatur corrupti sint officiis doloribus eum! Laboriosam, perferendis maxime. Explicabo, et!</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur non velit dolorum sequi, repellendus ex voluptas eius harum quasi pariatur corrupti sint officiis doloribus eum! Laboriosam, perferendis maxime. Explicabo, et!</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur non velit dolorum sequi, repellendus ex voluptas eius harum quasi pariatur corrupti sint officiis doloribus eum! Laboriosam, perferendis maxime. Explicabo, et!</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<br />
<br />
<br />
