<div class="row documentation-section">
  <h2 class="documentation-section__title">Typografie</h2>
  <h1>Nadpis H1</h1>
  <h2>Nadpis H2</h2>
  <h3>Nadpis H3</h3>
  <h4>Nadpis H4</h4>
  <h5>Nadpis H5</h5>
  <h6>Nadpis H6</h6>

  <p>
    Lorem ipsum dolor sit amet,
    <a href="#"
      >consectetuer adipiscing elit. Etiam posuere lacus quis dolor. Duis
      bibendum, lectus ut viverra rhoncus</a
    >, dolor nunc faucibus libero, eget facilisis enim ipsum id lacus. Etiam
    posuere lacus quis dolor. In sem justo, commodo ut, suscipit at, pharetra
    vitae, orci. Excepteur sint occaecat pharetra metus odio a lectus.
  </p>
</div>
