<div class="mt-30">
  <div class="row mb-20 documentation-section">
    <h2 class="documentation-section__title">Header</h2>
  </div>
  <div class="row">
    <h3>Tiny</h3>
  </div>
  <header class="header-main header-main--tiny">
    <div class="header-main__identity">
      <div class="row">
        <div class="grid">
          <div
            class="grid__col grid__col--sm-12 grid__col--md-4 grid__col--lg-3 header-main__identity-column mb-15--md"
          >
            <img
              src="https://nrpzs.uzis.cz/images/logo-opz-cs.svg"
              class="header-main__identity-logo--opz"
              alt="ESF Operační program pro zaměstnanost"
            />
          </div>
          <div
            class="grid__col grid__col--sm-12 grid__col--md-8 grid__col--lg-5 header-main__identity-column mb-15--md"
          >
            <div class="header-main__wrapper">
              <div class="header-main__logo-container">
                <img
                  class="header-main__logo"
                  src="images/logo-cnccr.svg"
                  alt="Logo"
                />
              </div>
              <div class="header-main__text">
                <p class="header-main__title">CNCCR</p>
                <p class="header-main__subtitle">
                  Czech Childhood Cancer Information System
                </p>
              </div>
            </div>
          </div>
          <div
            class="grid__col grid__col--sm-8  grid__col--md-8 grid__col--lg-3 header-main__identity-column header-main__identity-column--r"
          >
            <div class="header-main__identity-text">
              <a
                href="http://www.uzis.cz/"
                title="Ústav zdravotnických informací a statistiky České republiky"
                >Ústav zdravotnických informací a statistiky ČR</a
              >
              <br />
              <a
                href="http://www.iba.muni.cz/"
                title="Institut biostatistiky a analýz, Lékařská fakulta, Masarykova univerzita"
              >
                Institut biostatistiky a analýz LF MU</a
              >
              <br />
              <i>společné pracoviště</i>
            </div>
            <div class="header-main__identity-logo-wrapper">
              <a
                class="header-main__identity-logo-link ml-0--sm"
                href="http://www.uzis.cz/"
                title="Ústav zdravotnických informací a statistiky České republiky"
              >
                <img
                  class="header-main__identity-logo--uzis"
                  src="https://nrpzs.uzis.cz/images/logo-uzis.svg"
                  alt="ÚZIS ČR"
                />
              </a>
              <a
                class="header-main__identity-logo-link"
                href="http://www.iba.muni.cz/"
                title="Institut biostatistiky a analýz, Lékařská fakulta, Masarykova univerzita"
              >
                <img
                  class="header-main__identity-logo--iba"
                  src="https://nrpzs.uzis.cz/images/logo-iba-mu.svg"
                  alt="IBA LF MED"
                />
              </a>
            </div>
          </div>
          <div
            class="grid__col grid__col--sm-4 grid__col--md-4 grid__col--lg-1 header-main__identity-column header-main__identity-column--r"
          >
            <div class="header-main__language">
              <p><a href="#">English</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
</div>

<div class="mt-30">
  <div class="row">
    <h3>Identita</h3>
  </div>
  <header class="header-main">
    <div class="header-main__main">
      <div class="row">
        <div class="grid">
          <div
            class="grid__col grid__col--sm-10 grid__col--md-10 grid__col--lg-10"
          >
            <div class="header-main__wrapper">
              <div class="header-main__logo-container">
                <img
                  class="header-main__logo"
                  src="images/logo-cnccr.svg"
                  alt="Logo"
                />
              </div>
              <div class="header-main__text">
                <p class="header-main__title">CNCCR</p>
                <p class="header-main__subtitle">
                  Czech Childhood Cancer Information System
                </p>
              </div>
            </div>
          </div>
          <div
            class="grid__col grid__col--sm-2 grid__col--md-2 grid__col--lg-2"
          >
            <div class="header-main__language">
              <p><a href="#">English</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
</div>

<div class="mt-30">
  <div class="row">
    <h3>Dohromady</h3>
  </div>

  <header class="header-main">
    <div class="header-main__identity">
      <div class="row">
        <div class="grid">
          <div
            class="grid__col grid__col--sm-12 grid__col--md-4 grid__col--lg-6 header-main__identity-column mb-15--sm"
          >
            <img
              src="https://nrpzs.uzis.cz/images/logo-opz-cs.svg"
              class="header-main__identity-logo--opz"
              alt="ESF Operační program pro zaměstnanost"
            />
          </div>
          <div
            class="grid__col grid__col--sm-12 grid__col--md-8 grid__col--lg-6 header-main__identity-column header-main__identity-column--r"
          >
            <div class="header-main__identity-text">
              <a
                href="http://www.uzis.cz/"
                title="Ústav zdravotnických informací a statistiky České republiky"
                >Ústav zdravotnických informací a statistiky ČR</a
              >
              <br />
              <a
                href="http://www.iba.muni.cz/"
                title="Institut biostatistiky a analýz, Lékařská fakulta, Masarykova univerzita"
              >
                Institut biostatistiky a analýz LF MU</a
              >
              <br />
              <i>společné pracoviště</i>
            </div>
            <div class="header-main__identity-logo-wrapper">
              <a
                class="header-main__identity-logo-link ml-0--sm"
                href="http://www.uzis.cz/"
                title="Ústav zdravotnických informací a statistiky České republiky"
              >
                <img
                  class="header-main__identity-logo--uzis"
                  src="https://nrpzs.uzis.cz/images/logo-uzis.svg"
                  alt="ÚZIS ČR"
                />
              </a>
              <a
                class="header-main__identity-logo-link"
                href="http://www.iba.muni.cz/"
                title="Institut biostatistiky a analýz, Lékařská fakulta, Masarykova univerzita"
              >
                <img
                  class="header-main__identity-logo--iba"
                  src="https://nrpzs.uzis.cz/images/logo-iba-mu.svg"
                  alt="IBA LF MED"
                />
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="header-main__main">
      <div class="row">
        <div class="grid">
          <div
            class="grid__col grid__col--sm-10 grid__col--md-10 grid__col--lg-10"
          >
            <div class="header-main__wrapper">
              <div class="header-main__logo-container">
                <img
                  class="header-main__logo"
                  src="images/logo-cnccr.svg"
                  alt="Logo"
                />
              </div>
              <div class="header-main__text">
                <p class="header-main__title">TBC</p>
                <p class="header-main__subtitle">
                  Tuberkulóza
                </p>
              </div>
            </div>
          </div>
          <div
            class="grid__col grid__col--sm-2 grid__col--md-2 grid__col--lg-2"
          >
            <div class="header-main__language">
              <p><a href="#">English</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
</div>
