<div class="mt-30 documentation-section">
  <div class="row mb-20">
    <h2 class="documentation-section__title">Footer</h2>
    <div class="documentation-section-modifiers__wrapper">
      <ul class="documentation-section-modifiers__list">
        <li class="documentation-section-modifiers__item">
          <p>
            <span class="documentation-section-modifiers__modifier">
              .footer-main__extended--gray
            </span>
            Šedé pozadí komponenty
          </p>
        </li>
        <li class="documentation-section-modifiers__item">
          <p>
            <span class="documentation-section-modifiers__modifier">
              .footer-main__extended--primary
            </span>
            Primární pozadí komponenty
          </p>
        </li>
      </ul>
    </div>
  </div>
  <footer class="footer-main" role="contentinfo">
    <div class="footer-main__citation">
      <div class="row">
        <div class="grid">
          <div class="grid__col grid__col--sm-12 text--center">
            Karolyi M., Komenda M., Ščavnický J., Loula Z., Jarkovský J., Dušek
            L.
            <br />
            Mapa zdravotnické techniky [online]. Praha: ÚZIS ČR, 2018 [cit.
            22.11.2018]. Dostupné z:
            <a href="https://ztnemocnice.uzis.cz">https://ztnemocnice.uzis.cz</a
            >. ISSN 2571-1547.
          </div>
        </div>
      </div>
    </div>
    <div class="footer-main__extended footer-main__extended--gray">
      <div class="row">
        <div class="grid">
          <div
            class="grid__col grid__col--sm-12 grid__col--md-12 grid__col--lg-4 mb-20--md"
          >
            <h3>Nadpis</h3>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia
              deleniti dolores optio ut eius aspernatur eos harum!
              Exercitationem, vero.
            </p>
            <p><a href="#">Odkaz na web</a></p>
          </div>
          <div
            class="grid__col grid__col--sm-12 grid__col--md-12 grid__col--lg-4 mb-20--md"
          >
            <h3>Rychlé odkazy</h3>
            <ul class="list--no-bullets">
              <li>
                <a href="#">Úvod</a>
              </li>
              <li>
                <a href="#">Nákladovost pracovišť</a>
              </li>
              <li>
                <a href="#">Nákladovost produkce</a>
              </li>
              <li>
                <a href="#">Produktivita pracovišť</a>
              </li>
              <li>
                <a href="#">Struktura produkce</a>
              </li>
            </ul>
          </div>
          <div
            class="grid__col grid__col--sm-12 grid__col--md-12 grid__col--lg-4 mb-20--md"
          >
            <h3>Další odkazy</h3>
            <ul class="list--no-bullets">
              <li>
                <a href="#">Cookies</a>
              </li>
              <li>
                <a href="#">GDPR</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-main__identity">
      <div class="row">
        <div class="grid">
          <div
            class="grid__col grid__col--sm-12 grid__col--md-3 grid__col--lg-3 footer-main__identity-column mb-10--md"
          >
            <img
              src="https://nrpzs.uzis.cz/images/logo-opz-cs.svg"
              class="footer-main__identity-logo footer-main__identity-logo--opz"
              alt="Logo OPZ"
            />
          </div>
          <div
            class="grid__col grid__col--sm-12 grid__col--md-4 grid__col--lg-4  footer-main__identity-column mb-10--md"
          >
            <a class="footer-main__identity-link" href="http://www.uzis.cz">
              <img
                src="https://nrpzs.uzis.cz/images/logo-uzis.svg"
                class="footer-main__identity-logo footer-main__identity-logo--uzis"
                alt="ÚZIS ČR"
              />

              <div class="footer-main__identity-logo-text">
                Institute of Health Information and Statistics of the Czech
                Republic<br />
              </div>
            </a>
          </div>
          <div
            class="grid__col grid__col--sm-12 grid__col--md-5 grid__col--lg-5 footer-main__identity-column mb-10--md"
          >
            <a class="footer-main__identity-link" href="http://www.iba.muni.cz">
              <img
                src="https://zt.uzis.cz/images/logo-iba-mu.svg"
                class="footer-main__identity-logo footer-main__identity-logo--iba"
                alt="MUNI MED"
              />
              <div class="footer-main__identity-logo-text">
                Masaryk University, Faculty of Medicine<br />
                Institute of Biostatistics and Analyses
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </footer>
</div>
