<div class="row mt-20 documentation-section">
  <h2 class="documentation-section__title">Tag</h2>

  <div class="documentation-section-modifiers__wrapper">
    <ul class="documentation-section-modifiers__list">
      <li class="documentation-section-modifiers__item">
        <p>
          <span class="documentation-section-modifiers__modifier">
            .tag--lg
          </span>
          Zvětší tag
        </p>
      </li>
      <li class="documentation-section-modifiers__item">
        <p>
          <span class="documentation-section-modifiers__modifier">
            .tag--sm
          </span>
          Zmenší tag
        </p>
      </li>
      <li class="documentation-section-modifiers__item">
        <p>
          <span class="documentation-section-modifiers__modifier">
            .tag--xs
          </span>
          Více zmenší tag
        </p>
      </li>
      <li class="documentation-section-modifiers__item">
        <p>
          <span class="documentation-section-modifiers__modifier">
            .tag--outline
          </span>
          Nastaví bíle pozadí a border tagu
        </p>
      </li>
      <li class="documentation-section-modifiers__item">
        <p>
          <span class="documentation-section-modifiers__modifier">
            .tag--closeable
          </span>
          Styly pro zavíratelný tag
        </p>
      </li>
    </ul>
  </div>

  <h3>Tag primární</h3>
  <p>
    <span class="tag tag--lg">Velký</span>
  </p>
  <p>
    <span class="tag">Střední</span>
  </p>
  <p>
    <span class="tag tag--sm">Malý</span>
  </p>
  <p>
    <span class="tag tag--xs">Nejmenší</span>
  </p>
</div>

<div class="row mt-20">
  <h3>Tag Outlined</h3>
  <p>
    <span class="tag tag--outline tag--lg">Velký</span>
  </p>
  <p>
    <span class="tag tag--outline">Střední</span>
  </p>
  <p>
    <span class="tag tag--outline tag--sm">Malý</span>
  </p>
  <p>
    <span class="tag tag--outline tag--xs">Nejmenší</span>
  </p>
</div>

<div class="row mt-20">
  <h3>Tag Closeable</h3>
  <p>
    <span class="tag tag--outline tag--closeable tag--lg">Velký
      <button class="tag__icon icon">
        <svg class="icon__svg" id="icon-times" viewBox="0 0 20 32" width="100%" height="100%">
          <title>times</title>
          <path d="M12.121 16l7.732-7.732c0.195-0.195 0.195-0.512 0-0.707l-1.414-1.414c-0.195-0.195-0.512-0.195-0.707 0l-7.732 7.732-7.732-7.732c-0.195-0.195-0.512-0.195-0.707 0l-1.415 1.414c-0.195 0.195-0.195 0.512 0 0.707l7.732 7.732-7.732 7.732c-0.195 0.195-0.195 0.512 0 0.707l1.414 1.414c0.195 0.195 0.512 0.195 0.707 0l7.732-7.732 7.732 7.732c0.195 0.195 0.512 0.195 0.707 0l1.414-1.414c0.195-0.195 0.195-0.512 0-0.707l-7.732-7.732z"></path>
        </svg>
      </button>
    </span>
  </p>
  <p>
    <span class="tag tag--closeable tag--outline">Střední
      <button class="tag__icon icon">
        <svg class="icon__svg" id="icon-times" viewBox="0 0 20 32" width="100%" height="100%">
          <title>times</title>
          <path d="M12.121 16l7.732-7.732c0.195-0.195 0.195-0.512 0-0.707l-1.414-1.414c-0.195-0.195-0.512-0.195-0.707 0l-7.732 7.732-7.732-7.732c-0.195-0.195-0.512-0.195-0.707 0l-1.415 1.414c-0.195 0.195-0.195 0.512 0 0.707l7.732 7.732-7.732 7.732c-0.195 0.195-0.195 0.512 0 0.707l1.414 1.414c0.195 0.195 0.512 0.195 0.707 0l7.732-7.732 7.732 7.732c0.195 0.195 0.512 0.195 0.707 0l1.414-1.414c0.195-0.195 0.195-0.512 0-0.707l-7.732-7.732z"></path>
        </svg>
      </button>
    </span>
  </p>
  <p>
    <span class="tag tag--closeable tag--outline tag--sm">Malý
      <button class="tag__icon icon">
        <svg class="icon__svg" id="icon-times" viewBox="0 0 20 32" width="100%" height="100%">
          <title>times</title>
          <path d="M12.121 16l7.732-7.732c0.195-0.195 0.195-0.512 0-0.707l-1.414-1.414c-0.195-0.195-0.512-0.195-0.707 0l-7.732 7.732-7.732-7.732c-0.195-0.195-0.512-0.195-0.707 0l-1.415 1.414c-0.195 0.195-0.195 0.512 0 0.707l7.732 7.732-7.732 7.732c-0.195 0.195-0.195 0.512 0 0.707l1.414 1.414c0.195 0.195 0.512 0.195 0.707 0l7.732-7.732 7.732 7.732c0.195 0.195 0.512 0.195 0.707 0l1.414-1.414c0.195-0.195 0.195-0.512 0-0.707l-7.732-7.732z"></path>
        </svg>
      </button>
    </span>
  </p>

  <p>
    <span class="tag tag--closeable tag--lg">Velký
      <button class="tag__icon icon">
        <svg class="icon__svg" id="icon-times" viewBox="0 0 20 32" width="100%" height="100%">
          <title>times</title>
          <path d="M12.121 16l7.732-7.732c0.195-0.195 0.195-0.512 0-0.707l-1.414-1.414c-0.195-0.195-0.512-0.195-0.707 0l-7.732 7.732-7.732-7.732c-0.195-0.195-0.512-0.195-0.707 0l-1.415 1.414c-0.195 0.195-0.195 0.512 0 0.707l7.732 7.732-7.732 7.732c-0.195 0.195-0.195 0.512 0 0.707l1.414 1.414c0.195 0.195 0.512 0.195 0.707 0l7.732-7.732 7.732 7.732c0.195 0.195 0.512 0.195 0.707 0l1.414-1.414c0.195-0.195 0.195-0.512 0-0.707l-7.732-7.732z"></path>
        </svg>
      </button>
    </span>
  </p>
  <p>
    <span class="tag tag--closeable">Střední
      <button class="tag__icon icon">
        <svg class="icon__svg" id="icon-times" viewBox="0 0 20 32" width="100%" height="100%">
          <title>times</title>
          <path d="M12.121 16l7.732-7.732c0.195-0.195 0.195-0.512 0-0.707l-1.414-1.414c-0.195-0.195-0.512-0.195-0.707 0l-7.732 7.732-7.732-7.732c-0.195-0.195-0.512-0.195-0.707 0l-1.415 1.414c-0.195 0.195-0.195 0.512 0 0.707l7.732 7.732-7.732 7.732c-0.195 0.195-0.195 0.512 0 0.707l1.414 1.414c0.195 0.195 0.512 0.195 0.707 0l7.732-7.732 7.732 7.732c0.195 0.195 0.512 0.195 0.707 0l1.414-1.414c0.195-0.195 0.195-0.512 0-0.707l-7.732-7.732z"></path>
        </svg>
      </button>
    </span>
  </p>
  <p>
    <span class="tag tag--closeable tag--sm">Malý
      <button class="tag__icon icon">
        <svg class="icon__svg" id="icon-times" viewBox="0 0 20 32" width="100%" height="100%">
          <title>times</title>
          <path d="M12.121 16l7.732-7.732c0.195-0.195 0.195-0.512 0-0.707l-1.414-1.414c-0.195-0.195-0.512-0.195-0.707 0l-7.732 7.732-7.732-7.732c-0.195-0.195-0.512-0.195-0.707 0l-1.415 1.414c-0.195 0.195-0.195 0.512 0 0.707l7.732 7.732-7.732 7.732c-0.195 0.195-0.195 0.512 0 0.707l1.414 1.414c0.195 0.195 0.512 0.195 0.707 0l7.732-7.732 7.732 7.732c0.195 0.195 0.512 0.195 0.707 0l1.414-1.414c0.195-0.195 0.195-0.512 0-0.707l-7.732-7.732z"></path>
        </svg>
      </>
    </span>
  </p>

</div>

<div class="mt-30">
  <div class="row">
    <h3>Tag list</h3>
    <ul class="tag-list">
      <li class="tag-list__item">
        <span class="tag tag--outline tag--lg">Položka</span>
      </li>
      <li class="tag-list__item">
        <span class="tag tag--outline tag--lg">Položka</span>
      </li>
      <li class="tag-list__item">
        <span class="tag tag--outline tag--lg">Položka</span>
      </li>
      <li class="tag-list__item">
        <span class="tag tag--outline tag--lg">Položka</span>
      </li>
      <li class="tag-list__item">
        <span class="tag tag--outline tag--lg">Položka</span>
      </li>
      <li class="tag-list__item">
        <span class="tag tag--outline tag--lg">Položka</span>
      </li>
      <li class="tag-list__item">
        <span class="tag tag--outline tag--lg">Položka</span>
      </li>
      <li class="tag-list__item">
        <span class="tag tag--outline tag--lg">Položka</span>
      </li>
      <li class="tag-list__item">
        <span class="tag tag--outline tag--lg">Položka</span>
      </li>
      <li class="tag-list__item">
        <span class="tag tag--outline tag--lg">Položka</span>
      </li>
      <li class="tag-list__item">
        <span class="tag tag--outline tag--lg">Položka</span>
      </li>
      <li class="tag-list__item">
        <span class="tag tag--outline tag--lg">Položka</span>
      </li>
      <li class="tag-list__item">
        <span class="tag tag--outline tag--lg">Položka</span>
      </li>
      <li class="tag-list__item">
        <span class="tag tag--outline tag--lg">Položka</span>
      </li>
      <li class="tag-list__item">
        <span class="tag tag--outline tag--lg">Položka</span>
      </li>
      <li class="tag-list__item">
        <span class="tag tag--outline tag--lg">Položka</span>
      </li>
      <li class="tag-list__item">
        <span class="tag tag--outline tag--lg">Položka</span>
      </li>
      <li class="tag-list__item">
        <span class="tag tag--outline tag--lg">Položka</span>
      </li>
      <li class="tag-list__item">
        <span class="tag tag--outline tag--lg">Položka</span>
      </li>
      <li class="tag-list__item">
        <span class="tag tag--outline tag--lg">Položka</span>
      </li>
      <li class="tag-list__item">
        <span class="tag tag--outline tag--lg">Položka</span>
      </li>
      <li class="tag-list__item">
        <span class="tag tag--outline tag--lg">Položka</span>
      </li>
    </ul>
  </div>
</div>

