<div class="row documentation-section mb-50">
  <h2 class="documentation-section__title mb-30">Grid</h2>
  <div class="documentation-section__description">
    <p><strong>Použitý grid je Bootstrap (v4.4) grid: <a href="https://getbootstrap.com/docs/4.4/layout/grid/"> https://getbootstrap.com/docs/4.4/layout/grid/</a></strong> 🤷</p>
    <p class="mb-0">Přejmenované třídy:</p>
    <p class="mb-0">.container => .row</p>
    <p class="mb-0">.row => .grid</p>
    <p class="mb-0">.col- => .grid__col příklad: .grid__col--6, .grid__col--lg-6</p>
  </div>
  <h3>Desktop grid</h3>
  <div class="grid">
    <div class="grid__col grid__col--lg-1">
      <div>1</div>
    </div>
    <div class="grid__col grid__col--lg-1">
      <div>1</div>
    </div>
    <div class="grid__col grid__col--lg-1">
      <div>1</div>
    </div>
    <div class="grid__col grid__col--lg-1">
      <div>1</div>
    </div>
    <div class="grid__col grid__col--lg-1">
      <div>1</div>
    </div>
    <div class="grid__col grid__col--lg-1">
      <div>1</div>
    </div>
    <div class="grid__col grid__col--lg-1">
      <div>1</div>
    </div>
    <div class="grid__col grid__col--lg-1">
      <div>1</div>
    </div>
    <div class="grid__col grid__col--lg-1">
      <div>1</div>
    </div>
    <div class="grid__col grid__col--lg-1">
      <div>1</div>
    </div>
    <div class="grid__col grid__col--lg-1">
      <div>1</div>
    </div>
    <div class="grid__col grid__col--lg-1">
      <div>1</div>
    </div>
  </div>

  <div class="grid">
    <div class="grid__col grid__col--lg-2">
      <div>2</div>
    </div>
    <div class="grid__col grid__col--lg-2">
      <div>2</div>
    </div>
    <div class="grid__col grid__col--lg-2">
      <div>2</div>
    </div>
    <div class="grid__col grid__col--lg-2">
      <div>2</div>
    </div>
    <div class="grid__col grid__col--lg-2">
      <div>2</div>
    </div>
    <div class="grid__col grid__col--lg-2">
      <div>2</div>
    </div>
  </div>

  <div class="grid">
    <div class="grid__col grid__col--lg-3">
      <div>3</div>
    </div>
    <div class="grid__col grid__col--lg-3">
      <div>3</div>
    </div>
    <div class="grid__col grid__col--lg-3">
      <div>3</div>
    </div>
    <div class="grid__col grid__col--lg-3">
      <div>3</div>
    </div>
  </div>

  <div class="grid">
    <div class="grid__col grid__col--lg-4">
      <div>4</div>
    </div>
    <div class="grid__col grid__col--lg-4">
      <div>4</div>
    </div>
    <div class="grid__col grid__col--lg-4">
      <div>4</div>
    </div>
  </div>

  <div class="grid">
    <div class="grid__col grid__col--lg-6">
      <div>6</div>
    </div>
    <div class="grid__col grid__col--lg-6">
      <div>6</div>
    </div>
  </div>

  <div class="grid">
    <div class="grid__col grid__col--lg-7">
      <div>7</div>
    </div>
    <div class="grid__col grid__col--lg-5">
      <div>5</div>
    </div>
  </div>

  <div class="grid">
    <div class="grid__col grid__col--lg-8">
      <div>8</div>
    </div>
    <div class="grid__col grid__col--lg-4">
      <div>4</div>
    </div>
  </div>

  <div class="grid">
    <div class="grid__col grid__col--lg-9">
      <div>9</div>
    </div>
    <div class="grid__col grid__col--lg-3">
      <div>3</div>
    </div>
  </div>

  <div class="grid">
    <div class="grid__col grid__col--lg-10">
      <div>10</div>
    </div>
    <div class="grid__col grid__col--lg-2">
      <div>2</div>
    </div>
  </div>

  <div class="grid">
    <div class="grid__col grid__col--lg-11">
      <div>11</div>
    </div>
    <div class="grid__col grid__col--lg-1">
      <div>1</div>
    </div>
  </div>

  <div class="grid">
    <div class="grid__col grid__col--lg-12">
      <div>12</div>
    </div>
  </div>
</div>

<div class="row mb-50">
  <h3 class="mb-20">Tablet grid</h3>

  <div class="grid">
    <div class="grid__col grid__col--md-1">
      <div>1</div>
    </div>
    <div class="grid__col grid__col--md-1">
      <div>1</div>
    </div>
    <div class="grid__col grid__col--md-1">
      <div>1</div>
    </div>
    <div class="grid__col grid__col--md-1">
      <div>1</div>
    </div>
    <div class="grid__col grid__col--md-1">
      <div>1</div>
    </div>
    <div class="grid__col grid__col--md-1">
      <div>1</div>
    </div>
    <div class="grid__col grid__col--md-1">
      <div>1</div>
    </div>
    <div class="grid__col grid__col--md-1">
      <div>1</div>
    </div>
    <div class="grid__col grid__col--md-1">
      <div>1</div>
    </div>
    <div class="grid__col grid__col--md-1">
      <div>1</div>
    </div>
    <div class="grid__col grid__col--md-1">
      <div>1</div>
    </div>
    <div class="grid__col grid__col--md-1">
      <div>1</div>
    </div>
  </div>

  <div class="grid">
    <div class="grid__col grid__col--md-2">
      <div>2</div>
    </div>
    <div class="grid__col grid__col--md-2">
      <div>2</div>
    </div>
    <div class="grid__col grid__col--md-2">
      <div>2</div>
    </div>
    <div class="grid__col grid__col--md-2">
      <div>2</div>
    </div>
    <div class="grid__col grid__col--md-2">
      <div>2</div>
    </div>
    <div class="grid__col grid__col--md-2">
      <div>2</div>
    </div>
  </div>

  <div class="grid">
    <div class="grid__col grid__col--md-3">
      <div>3</div>
    </div>
    <div class="grid__col grid__col--md-3">
      <div>3</div>
    </div>
    <div class="grid__col grid__col--md-3">
      <div>3</div>
    </div>
    <div class="grid__col grid__col--md-3">
      <div>3</div>
    </div>
  </div>

  <div class="grid">
    <div class="grid__col grid__col--md-4">
      <div>4</div>
    </div>
    <div class="grid__col grid__col--md-4">
      <div>4</div>
    </div>
    <div class="grid__col grid__col--md-4">
      <div>4</div>
    </div>
  </div>

  <div class="grid">
    <div class="grid__col grid__col--md-6">
      <div>6</div>
    </div>
    <div class="grid__col grid__col--md-6">
      <div>6</div>
    </div>
  </div>

  <div class="grid">
    <div class="grid__col grid__col--md-7">
      <div>7</div>
    </div>
    <div class="grid__col grid__col--md-5">
      <div>5</div>
    </div>
  </div>

  <div class="grid">
    <div class="grid__col grid__col--md-8">
      <div>8</div>
    </div>
    <div class="grid__col grid__col--md-4">
      <div>4</div>
    </div>
  </div>

  <div class="grid">
    <div class="grid__col grid__col--md-9">
      <div>9</div>
    </div>
    <div class="grid__col grid__col--md-3">
      <div>3</div>
    </div>
  </div>

  <div class="grid">
    <div class="grid__col grid__col--md-10">
      <div>10</div>
    </div>
    <div class="grid__col grid__col--md-2">
      <div>2</div>
    </div>
  </div>

  <div class="grid">
    <div class="grid__col grid__col--md-11">
      <div>11</div>
    </div>
    <div class="grid__col grid__col--md-1">
      <div>1</div>
    </div>
  </div>

  <div class="grid">
    <div class="grid__col grid__col--md-12">
      <div>12</div>
    </div>
  </div>
</div>

<div class="row mb-50">
  <h3 class="mb-20">Mobile grid</h3>

  <div class="grid">
    <div class="grid__col grid__col--sm-1">
      <div>1</div>
    </div>
    <div class="grid__col grid__col--sm-1">
      <div>1</div>
    </div>
    <div class="grid__col grid__col--sm-1">
      <div>1</div>
    </div>
    <div class="grid__col grid__col--sm-1">
      <div>1</div>
    </div>
    <div class="grid__col grid__col--sm-1">
      <div>1</div>
    </div>
    <div class="grid__col grid__col--sm-1">
      <div>1</div>
    </div>
    <div class="grid__col grid__col--sm-1">
      <div>1</div>
    </div>
    <div class="grid__col grid__col--sm-1">
      <div>1</div>
    </div>
    <div class="grid__col grid__col--sm-1">
      <div>1</div>
    </div>
    <div class="grid__col grid__col--sm-1">
      <div>1</div>
    </div>
    <div class="grid__col grid__col--sm-1">
      <div>1</div>
    </div>
    <div class="grid__col grid__col--sm-1">
      <div>1</div>
    </div>
  </div>

  <div class="grid">
    <div class="grid__col grid__col--sm-2">
      <div>2</div>
    </div>
    <div class="grid__col grid__col--sm-2">
      <div>2</div>
    </div>
    <div class="grid__col grid__col--sm-2">
      <div>2</div>
    </div>
    <div class="grid__col grid__col--sm-2">
      <div>2</div>
    </div>
    <div class="grid__col grid__col--sm-2">
      <div>2</div>
    </div>
    <div class="grid__col grid__col--sm-2">
      <div>2</div>
    </div>
  </div>

  <div class="grid">
    <div class="grid__col grid__col--sm-3">
      <div>3</div>
    </div>
    <div class="grid__col grid__col--sm-3">
      <div>3</div>
    </div>
    <div class="grid__col grid__col--sm-3">
      <div>3</div>
    </div>
    <div class="grid__col grid__col--sm-3">
      <div>3</div>
    </div>
  </div>

  <div class="grid">
    <div class="grid__col grid__col--sm-4">
      <div>4</div>
    </div>
    <div class="grid__col grid__col--sm-4">
      <div>4</div>
    </div>
    <div class="grid__col grid__col--sm-4">
      <div>4</div>
    </div>
  </div>

  <div class="grid">
    <div class="grid__col grid__col--sm-6">
      <div>6</div>
    </div>
    <div class="grid__col grid__col--sm-6">
      <div>6</div>
    </div>
  </div>

  <div class="grid">
    <div class="grid__col grid__col--sm-7">
      <div>7</div>
    </div>
    <div class="grid__col grid__col--sm-5">
      <div>5</div>
    </div>
  </div>

  <div class="grid">
    <div class="grid__col grid__col--sm-8">
      <div>8</div>
    </div>
    <div class="grid__col grid__col--sm-4">
      <div>4</div>
    </div>
  </div>

  <div class="grid">
    <div class="grid__col grid__col--sm-9">
      <div>9</div>
    </div>
    <div class="grid__col grid__col--sm-3">
      <div>3</div>
    </div>
  </div>

  <div class="grid">
    <div class="grid__col grid__col--sm-10">
      <div>10</div>
    </div>
    <div class="grid__col grid__col--sm-2">
      <div>2</div>
    </div>
  </div>

  <div class="grid">
    <div class="grid__col grid__col--sm-11">
      <div>11</div>
    </div>
    <div class="grid__col grid__col--sm-1">
      <div>1</div>
    </div>
  </div>

  <div class="grid">
    <div class="grid__col grid__col--sm-12">
      <div>12</div>
    </div>
  </div>
</div>

<div class="row mb-50">
  <h3 class="mb-20">Grid bez odsazení</h3>

  <div class="grid grid--spacing-none">
    <div class="grid__col grid__col--md-3">
      <div>3</div>
    </div>
    <div class="grid__col grid__col--md-3">
      <div>3</div>
    </div>
    <div class="grid__col grid__col--md-3">
      <div>3</div>
    </div>
    <div class="grid__col grid__col--md-3">
      <div>3</div>
    </div>
  </div>
</div>

<div class="row mb-50">
  <h3 class="mb-20">Grid 1px odsazení</h3>
  <div class="grid grid--spacing-mini">
    <div class="grid__col grid__col--md-3">
      <div>3</div>
    </div>
    <div class="grid__col grid__col--md-3">
      <div>3</div>
    </div>
    <div class="grid__col grid__col--md-3">
      <div>3</div>
    </div>
    <div class="grid__col grid__col--md-3">
      <div>3</div>
    </div>
  </div>
</div>

<div class="row mb-50">
  <h3 class="mb-20">Grid další odsazení</h3>
  <h4>30px</h4>
  <div class="grid grid--spacing-30">
    <div class="grid__col grid__col--md-3">
      <div>3</div>
    </div>
    <div class="grid__col grid__col--md-3">
      <div>3</div>
    </div>
    <div class="grid__col grid__col--md-3">
      <div>3</div>
    </div>
    <div class="grid__col grid__col--md-3">
      <div>3</div>
    </div>
  </div>

  <h4>50px</h4>
  <div class="grid grid--spacing-50">
    <div class="grid__col grid__col--md-3">
      <div>3</div>
    </div>
    <div class="grid__col grid__col--md-3">
      <div>3</div>
    </div>
    <div class="grid__col grid__col--md-3">
      <div>3</div>
    </div>
    <div class="grid__col grid__col--md-3">
      <div>3</div>
    </div>
  </div>

  <h4>70px</h4>
  <div class="grid grid--spacing-70">
    <div class="grid__col grid__col--md-3">
      <div>3</div>
    </div>
    <div class="grid__col grid__col--md-3">
      <div>3</div>
    </div>
    <div class="grid__col grid__col--md-3">
      <div>3</div>
    </div>
    <div class="grid__col grid__col--md-3">
      <div>3</div>
    </div>
  </div>
</div>
