<div class="documentation-section row">
  <h2 class="documentation-section__title">Barvy</h2>
  <h3>Primární barvy</h3>
  <div class="documentation-colors__row">
    <div class="documentation-colors__col background--primary">
      <p><strong>Primary</strong></p>
      <p>$colorPrimary</p>
    </div>
    <div class="documentation-colors__col background--primary-darken">
      <p><strong>Primary darken</strong></p>
      <p>$colorPrimaryDarken</p>
    </div>
  </div>

  <h3>Sekundární barvy</h3>
  <div class="documentation-colors__row">
    <div class="documentation-colors__col background--secondary">
      <p><strong>Secondary</strong></p>
      <p>$colorSecondary</p>
    </div>
    <div class="documentation-colors__col background--secondary-darken">
      <p><strong>Secondary darken</strong></p>
      <p>$colorSecondaryDarken</p>
    </div>
  </div>

  <h3>Doplňkové barvy</h3>
  <div class="documentation-colors__row">
    <div class="documentation-colors__col background--black">
      <p><strong>Black</strong></p>
      <p>$colroBlack</p>
    </div>
    <div class="documentation-colors__col background--white">
      <p class="text--body-text-color"><strong>White</strong></p>
      <p class="text--body-text-color">$colorWhite</p>
    </div>
    <div class="documentation-colors__col background--green">
      <p><strong>Green</strong></p>
      <p>$colorGreen</p>
    </div>
    <div class="documentation-colors__col background--yellow">
      <p class="text--body-text-color"><strong>Yellow</strong></p>
      <p class="text--body-text-color">$colorYellow</p>
    </div>
    <div class="documentation-colors__col background--blue">
      <p><strong>Blue</strong></p>
      <p>$colorBlue</p>
    </div>
    <div class="documentation-colors__col background--gray">
      <p class="text--body-text-color"><strong>Gray</strong></p>
      <p class="text--body-text-color">$colorGray</p>
    </div>
    <div class="documentation-colors__col background--light-gray">
      <p class="text--body-text-color"><strong>LightGray</strong></p>
      <p class="text--body-text-color">$colorLightGray</p>
    </div>
    <div class="documentation-colors__col background--dark-gray">
      <p><strong>DarkGray</strong></p>
      <p>$colorDarkGray</p>
    </div>

    <div class="documentation-colors__col background--background-gray">
      <p class="text--body-text-color"><strong>BgGray</strong></p>
      <p class="text--body-text-color">$colorBgGray</p>
    </div>
  </div>
</div>
